---
import { readItems, readSingleton } from "@directus/sdk";
import Layout from "../layouts/Layout.astro";
import directus from "../utils/directus";

const home = await directus.request(readSingleton("home"));
const posts = await directus.request(
  readItems("posts", {
    fields: ["id", "title"],
    sort: "-id",
  })
);
---

<Layout title="Home">
  <section class="mb-4">
    <h1 class="font-bold text-2xl">{home.title}</h1>
    <p>{home.description}</p>
  </section>
  <section>
    <h2 class="font-semibold text-xl">Posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a class="underline" href={`/post/${post.id}`}>
              {post.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
