---
import { readItems } from "@directus/sdk";
import Layout from "../../layouts/Layout.astro";
import directus from "../../utils/directus";

interface Props {
  post: {
    id: number;
    title: string;
    body: string;
  };
}

const { post } = Astro.props;

export async function getStaticPaths() {
  const posts = await directus.request(readItems("posts"));
  return posts.map((post) => {
    return {
      params: { id: post.id.toString() },
      props: { post },
    };
  });
}
---

<Layout title={post.title}>
  <h1 class="font-semibold text-xl">{post.title}</h1>
  <p>{post.body}</p>
</Layout>
